#abilities{
  padding-top: 40px;
  padding-bottom: 60px;
  display: block;
  font-size: 22px;
  color: #333;
  height: 100%;
  background-color: #edeeef;
}
#abilities .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
#abilities .lite {
  color: lightblue;
}