#contacts{
  font-size: 22px;
  opacity: 0.9;
  background: url(/asset/img/back-down.jpg)no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  color: antiquewhite;
}
.icons {
  width:25px;
  margin-right: 5px;
  padding: 0;
 }
 .soc-icons{
  width: 50px;
  margin-right: 20px;
  padding: 0;
 }
 
#contacts ul, li {
list-style: none;
display: block;
padding: 0;
margin-bottom: 5px;
}

#contacts .form-group{
  margin-bottom: 20px;
}

#contacts label{
  font-weight: normal;
}