body {
  font-family: "Marvel", sans-serif;
}
.bg-full{
  background: url(/asset/img/back-top.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

#hello {
  margin-top: 25%;
  color: #dd8844;
  font-style: italic;
}
#hello h2{
 text-align: right;
 font-size: 2em;
}
#hello h1{
 font-size: 4em;
}

.my-flex-container{
  display: flex;
  justify-content: space-around;
  color: #dd8844;
  font-style: italic;
  font-size: 2em;
  margin-top: -1%;
  height: 100px;
}

.my-flex-container a, a:hover{
    color: #dd8844;
    text-decoration: none;
}
.my-flex-block{
   padding: 5px;
   height: 100%;
   width: 120px;
   padding-top: 6%;
   text-align: center;
}

.my-flex-block:hover{
    border-bottom: 1px solid #ddddcc;
    color: #555566;
}

.head-one{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    font-style: normal;
}
.head-two{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    font-style: normal;
}





