body {
  font-family: "Marvel", sans-serif;
  font-size: 20px;
}
row {
  margin-top: 100px;
}
.bg-full{
  background: url(/asset/img/back-top.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

.navbar-default .navbar-collapse, .navbar-default{
  background-color: transparent;
  border: none;
  margin-top: 10%;
}

.navbar .navbar-static-top{
    margin-top: 15%;
    
}
.navbar-right {
    float: right!important;
}
.navbar .navbar-static-top ul, li{
  list-style: none;
  display: block;
}
.navbar .navbar-static-top > li a{
  text-decoration: none;
  font-style: italic;
  display: block;
  font-size: 28px;
  color: #dd8844;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  text-align: left;
}
.navbar .navbar-static-top > li a:hover{
  background-color: #334444;
  color: #ddddcc;
}

#hello {
  margin-top: 25%;
  color: #dd8844;
  font-style: italic;
}
#hello h2{
 text-align: right;
 font-size: 2em;
}
#hello h1{
 font-size: 4em;
}

.head-one{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    font-style: normal;
}
.head-two{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    font-style: normal;
}





