#portfolio{
  padding-top: 40px;
  padding-bottom: 60px;
  height: 400px;
  display: block;
  background-color: #edeeef;
  font-family: "Marvel", sans-serif;
  font-size: 20px;
}
.work {
  width: 100px;
  border: 1px solid black;
}